.product-navigation-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;

  border: none;
  border-radius: 20%;
  cursor: pointer;

  fill: hsl(var(--color-primary-white));
  background: radial-gradient(
      circle,
      hsl(var(--clr-orange-400) / 0.7) 0%,
      transparent 100%
    ),
    radial-gradient(
      circle,
      transparent 0%,
      hsl(var(--color-primary-light) / 0.7) 100%
    );
  @media screen and (min-width: $bp-tablet) {
    width: 50px;
    height: 50px;
  }
  &.next-product {
    transform: rotate(180deg);
  }
}
